/* Background styles */
.degradado-dark {
      background-color: #090d14;
    background-image: 
        radial-gradient(at 47% 33%, hsl(246, 54%, 53%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);

    
}

/* Glassmorphism card effect */
.card-dark {
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.72);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.degradado-light {
    background-color: #50E3C2;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
}

/* Glassmorphism card effect */
.card-light {
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.mud-tabs-tabbar {
    background-color: transparent !important;
}
.profile-card{
    background-color: transparent !important;
}
.mud-table{
    background-color: transparent !important;
}
.table-light{
    background-color: rgba(255, 255, 255, 0.74) !important;
}
/* body{
    scrollbar-color: #50E3C2 #090d14 !important;
} */
 .friend-card {
    background-color: transparent !important;
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
 }
/* Clase para ocultar scrollbars */
.hide-scrollbar {
    overflow: auto; /* Mejor que 'overlay' que está obsoleto */
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;               /* Chrome/Safari/Edge */
}